@charset "utf-8";
body {
  font-family: "Noto Sans KR", sans-serif;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
}
.left {
  /* border: 1px solid tomato; */
  background: url("../images/lydia-mailloux-Hugv8IYAp8Y-unsplash.jpg") center no-repeat;
  background-size: cover;
  width: 50%;
  height: 100%;
}
.right {
  /* border: 1px solid tomato; */
  width: 50%;
  height: 100%;
  position: relative;
}
.note {
  /* border: 1px solid palevioletred; */
  width: 300px;
  text-align: center;
  position: absolute;
  color: #217e4b;
  font-size: 18px;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -250px;
}
.password_change {
  /* border: 1px solid palevioletred; */
  width: 330px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.password_change p {
  margin: 10px 0 5px;
  text-align: left;
  color: #217e4b;
  font-weight: 400;
}
.password_change input {
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 50px;
  font-size: 20px;
  line-height: 28px;
  outline: none;
}
.password_change button {
  margin-top: 10px;
  width: 180px;
  height: 40px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  background: rgb(0, 0, 0, 0.8);
  color: #fff;
  letter-spacing: 1px;
  line-height: 28px;
  transition: all ease 0.5s;
  text-transform: uppercase;
}
.password_change button:hover {
  background: #658361;
}

.password_change button:disabled{
    background: #bdc1c1;
    cursor: default;
}

/* 경고 메시지 */

.text-danger {
  /* border: 1px solid red; */
  width: 100%;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  color: tomato;
  text-align: center;
  margin-top: 2px;
}